In [1]:
# create a pandas frame for this file and edxplore its content
import numpy as np
import pandas as pd

df = pd.read_csv("German Credit Data.csv")

In [2]:
print(df.shape)

(1000, 14)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   checkin_acc        1000 non-null   object
 1   duration           1000 non-null   int64
 2   credit_history     1000 non-null   object
 3   amount             1000 non-null   int64
 4   savings_acc        1000 non-null   object
 5   present_emp_since  1000 non-null   object
 6   inst_rate          1000 non-null   int64
 7   personal_status    1000 non-null   object
 8   residing_since     1000 non-null   int64
 9   age                1000 non-null   int64
 10  inst_plans         1000 non-null   object
 11  num_credits        1000 non-null   int64
 12  job                1000 non-null   object
 13  status             1000 non-null   int64
dtypes: int64(7), object(7)
memory usage: 109.5+ KB

In [4]:
print(df.describe)

<bound method NDFrame.describe of     checkin_acc  duration credit_history  amount savings_acc
0           A11         6            A34    1169         A65  \
1           A12        48            A32    5951         A61
2           A14        12            A34    2096         A61
3           A11        42            A32    7882         A61
4           A11        24            A33    4870         A61
..          ...       ...            ...     ...         ...
995         A14        12            A32    1736         A61
996         A11        30            A32    3857         A61
997         A14        12            A32     804         A61
998         A11        45            A32    1845         A61
999         A12        45            A34    4576         A62

    present_emp_since  inst_rate personal_status  residing_since  age
0                 A75          4             A93               4   67  \
1                 A73          2             A92               2   22
2                 A74          2             A93               3   49
3                 A74          2             A93               4   45
4                 A73          3             A93               4   53
..                ...        ...             ...             ...  ...
995               A74          3             A92               4   31
996               A73          4             A91               4   40
997               A75          4             A93               4   38
998               A73          4             A93               4   23
999               A71          3             A93               4   27

    inst_plans  num_credits   job  status
0         A143            2  A173       0
1         A143            1  A173       1
2         A143            1  A172       0
3         A143            1  A173       0
4         A143            2  A173       1
..         ...          ...   ...     ...
995       A143            1  A172       0
996       A143            1  A174       0
997       A143            1  A173       0
998       A143            1  A173       1
999       A143            1  A173       0

[1000 rows x 14 columns]>

In [5]:
df.head()

,checkin_acc,duration,credit_history,amount,savings_acc,present_emp_since,inst_rate,personal_status,residing_since,age,inst_plans,num_credits,job,status
0,A11,6,A34,1169,A65,A75,4,A93,4,67,A143,2,A173,0
1,A12,48,A32,5951,A61,A73,2,A92,2,22,A143,1,A173,1
2,A14,12,A34,2096,A61,A74,2,A93,3,49,A143,1,A172,0
3,A11,42,A32,7882,A61,A74,2,A93,4,45,A143,1,A173,0
4,A11,24,A33,4870,A61,A73,3,A93,4,53,A143,2,A173,1

In [6]:
# 3. Print the first five records and first 7 columns
df.iloc[0:5,0:8] #[rows,columns]
# The code "df.iloc[0:5,0:7]" selects a subset of data from a DataFrame called "df"., it selects the first 5 rows and the first 7 columns of the DataFrame. 

# The "iloc" method is used to select data based on its integer location. The first argument "0:5" specifies the range of rows to select, starting from row 0 and ending at row 4 (since the upper limit is not inclusive). The second argument "0:7" specifies the range of columns to select, starting from column 0 and ending at column 6.

# This code can be useful for exploring the structure and contents of a DataFrame, or for selecting a specific subset of data for further analysis or visualization. Keep in mind that the selected subset of data may not represent the entire dataset, so it's important to consider the context and purpose of the analysis.

,checkin_acc,duration,credit_history,amount,savings_acc,present_emp_since,inst_rate,personal_status
0,A11,6,A34,1169,A65,A75,4,A93
1,A12,48,A32,5951,A61,A73,2,A92
2,A14,12,A34,2096,A61,A74,2,A93
3,A11,42,A32,7882,A61,A74,2,A93
4,A11,24,A33,4870,A61,A73,3,A93

In [7]:
# 4. Print the first five records and remaining columns
df.iloc[0:5,7:15]

  personal_status  residing_since  age inst_plans  num_credits   job  status
0             A93               4   67       A143            2  A173       0
1             A92               2   22       A143            1  A173       1
2             A93               3   49       A143            1  A172       0
3             A93               4   45       A143            1  A173       0
4             A93               4   53       A143            2  A173       1

In [8]:
# 5. Few of the columns are categorical and are infered as objects. Ex: checkin_acc. Print all unique values of this column
df["checkin_acc"].unique()
# The output of the code "df["checkin_acc"].unique()" will depend on the structure and content of the pandas dataframe named "df". Assuming that there is a column named "checkin_acc" in the dataframe, this code will return an array of unique values that are present in that column. 

# For example, if the "checkin_acc" column contains categorical data related to bank accounts, such as "no account", "low balance", "medium balance", and "high balance", then the output of this code will be an array containing these unique values.

# This code is useful for exploring the unique values in a column of a dataframe, which can help in identifying any data quality issues or patterns in the data. It can also be used for data preprocessing tasks such as encoding categorical variables for machine learning models.

array(['A11', 'A12', 'A14', 'A13'], dtype=object)

In [9]:
# 6. Encode all categorical features using one-hot encoding. A feature with n values is encoded using (n-1) values, retaining the first one (drop_first = True)
# First, you have a DataFrame named df, and you want to create a list of column names as X_features, excluding the column named 'status'. To accomplish this, you can use the following code:
# Next, you want to encode the categorical features in the DataFrame df[X_features] using one-hot encoding. The resulting encoded DataFrame will be stored in encoded_df. To achieve this, you can utilize the pd.get_dummies() function with the drop_first=True parameter, which drops the first category for each feature to avoid multicollinearity:
# Finally, you can print the list of column names in the encoded_df DataFrame using print(list(encoded_df.columns)):
# This will display the column names of the encoded DataFrame.
X_features = list(df.columns) #creating the list of the columns
X_features.remove('status') #deleting the status column
encoded_df = pd.get_dummies(df[X_features],drop_first=True) #encoding the feature using get dummies and drop the first values
print(list(encoded_df.columns)) #printing the result

['duration', 'amount', 'inst_rate', 'residing_since', 'age', 'num_credits', 'checkin_acc_A12', 'checkin_acc_A13', 'checkin_acc_A14', 'credit_history_A31', 'credit_history_A32', 'credit_history_A33', 'credit_history_A34', 'savings_acc_A62', 'savings_acc_A63', 'savings_acc_A64', 'savings_acc_A65', 'present_emp_since_A72', 'present_emp_since_A73', 'present_emp_since_A74', 'present_emp_since_A75', 'personal_status_A92', 'personal_status_A93', 'personal_status_A94', 'inst_plans_A142', 'inst_plans_A143', 'job_A172', 'job_A173', 'job_A174']

In [10]:
# 7. Make independent features of the encoded frame as X and column 'status' as dependent feature.
X = encoded_df
Y = df["status"]

In [11]:
# 8. Divide data into 70% training and 30% as testing.  
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3, random_state =42)

# X and Y are the arrays or DataFrames representing your input features and target variable, respectively.
# test_size=0.3 indicates that you want to allocate 30% of the data to the testing set. This means that 70% of the data will be allocated to the training set.
# random_state=42 sets the random seed to 42, ensuring reproducibility of the split. This means that each time you run the code with the same random seed, you will obtain the same split.
# After executing this code, the function will split your data into four arrays or DataFrames: X_train, Y_train, X_test, and Y_test. The training data will be stored in X_train and Y_train, while the testing data will be stored in X_test and Y_test.

In [12]:
# 9. Train a decision tree model using Gini INdex and depth of 3
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion = 'gini', max_depth=3 )
clf.fit(X_train,Y_train)
# n this code, you import the DecisionTreeClassifier class from sklearn.tree. Then, you create an instance of the classifier named clf. The classifier is initialized with the following parameters:

# criterion='gini' sets the criterion used to measure the quality of a split in the decision tree. The 'gini' criterion refers to the Gini impurity, which is a measure of the node's impurity based on class probabilities. Other supported criteria are 'entropy' for the Shannon information gain and 'log_loss' for logarithmic loss [1].
# max_depth=3 sets the maximum depth of the decision tree. This parameter limits the number of levels the tree can grow to. In this case, the tree is limited to a depth of 3, meaning it can have at most 3 levels from the root to the leaves [2].
# Once the classifier is instantiated, you fit it to your training data using clf.fit(X_train, Y_train). This trains the decision tree classifier on the features X_train and their corresponding targets Y_train.

DecisionTreeClassifier(max_depth=3)

In [13]:
# 10. Make predictions on test/validation data
pred_y = clf.predict(X_test)

In [14]:
# 11. Print the confusion matrix, accuracy and AUC score of this model on test set
from sklearn import metrics
print("Confusion Matrix is\n",metrics.confusion_matrix(pred_y, y_test))
print("Accuracy is", metrics.accuracy_score(pred_y,y_test))
print("AUC Score is", metrics.roc_auc_score(pred_y, y_test))

# confusion_matrix(y_true, y_pred, *, labels=None, sample_weight=None, normalize=None)
# computes a confusion matrix to evaluate the accuracy of a classification. 
# It compares the true labels (y_true) with the predicted labels (y_pred) and 
# provides information about the number of observations known to be in each group and 
# the number of observations predicted to be in each group
# accuracy_score(y_true, y_pred) calculates the accuracy of the classification by comparing the true 
# labels (y_true) with the predicted labels (y_pred).
# roc_auc_score(y_true, y_score) computes the area under the receiver operating characteristic
# curve (ROC AUC) for binary classification tasks.
# It measures the classifier's ability to rank the positive and negative samples correctly [1].
# By calling these functions with pred_y as the predicted labels and y_test as the true labels, 
# you can obtain the confusion matrix, accuracy score, and ROC AUC score, respectively.

NameError: name 'y_test' is not defined

In [ ]:
# 12. Visualize the tree using grapghviz and pydotplus libraries
from sklearn.tree import export_graphviz
import pydotplus as pdot
from IPython.display import Image
export_graphviz(clf,out_file = "tree.odt", feature_names = X_train.columns, filled = True)
graph = pdot.graphviz.graph_from_dot_file("tree.odt")
graph.write_jpg("tree.png")
Image(filename = "tree.png")

# In this code, you perform the following steps:

# Import the necessary modules and functions: export_graphviz from sklearn.tree, pydotplus as pdot, and Image from IPython.display.
# Call export_graphviz to export the decision tree model (clf) to the GraphViz format.
#  The out_file parameter specifies the output file name ("tree.odt" in this case), and 
#  the feature_names parameter provides the names of the features in your dataset.
# Use graphviz.graph_from_dot_file from pydotplus to create a graph from the exported GraphViz file ("tree.odt").
# Write the graph to a JPG image file ("tree.png") using write_jpg method of the graph object.
# Display the image using IPython.display.Image by providing the filename of the image ("tree.png").